@use "var";                      // VARIABLES


// --------------------------------------
//   HEADER
// --------------------------------------
//

.navbar-brand {
    z-index: 999;
    padding: 10px 0 10px 10px;

    @media screen and (min-width: 992px) {
        padding: 10px 0 10px 20px;
    }

    & img {
        width: 100%;
        max-width: 180px;

       @media screen and (min-width: 992px) {
        max-width: 220px;
        }
    }
}

//menu - center
.nav .nav-link {
    z-index: 500;
    color: var.$color-white;
    font-size: 25px;
    font-weight: var.$font-bold;
    border-bottom: 4px solid transparent;
    padding: 8px 16px;
    margin: 0 24px;

    &.active {
        border-bottom: 4px solid var.$color-white;
    }

    &:hover,
    &:active {
        border-bottom: 4px solid var.$color-white;
        transition: 0.3s;
    }
}

// menu - side
.nav-icon {
    position: relative;
    cursor: pointer;
    transition: all .5s ease-in-out;

    z-index: 1040;
    background-color: rgb(255, 255, 255);
    padding: 16px 32px 16px 24px;
    border-radius: 5px 0 0 5px;
    @media screen and (max-width: 346px) {
        padding: 10px 10px 10px 15px;
    }
}

//hamburger
.hamburger {
    display: block;
    width: 15px;
    height: 2px;
    background-color: var.$color-primary;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var.$color-primary;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(6px);
}

.nav-text {
    font-size: 20px;
    font-weight: var.$font-bold;
}

.nav-icon.active .hamburger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.nav-icon.active .hamburger::before {
   transform: rotate(45deg) translate(35px, -35px);
}

.nav-icon.active .hamburger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.nav-text.active {
    opacity: 0;
}

.side-nav-overlay {
    position: absolute;
    z-index: 988;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background: transparent;
    transition: all .3s ease-in-out;

    &__fixed {
        position: fixed;
    }

    &.active {
        background: rgba(0,0,0,0.7);
        pointer-events: auto;
    }
}

.side-nav {
    z-index: 999;
    position: absolute;// změn
    right: 0;
    top: 0;
    padding-top: 80px;
    background-color: #fff;
    transition: all .3s ease-in-out;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);

    @media screen and (min-width: 576px) {
        width: 400px;
    }

    &__fixed {
        position: fixed;
    }

    &.active {
        transform: translateX(0%);
    }

    &__menu {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin: 0;
    }

    &__link {
        display: block;
        padding: 16px 32px 16px 56px;
        color: var.$color-primary;
        font-weight: var.$font-bold;
        font-size: 20px;
        transition: all .3s ease-in-out;

        @media screen and (min-width: 992px) {
            font-size: 25px;
        }

        &:hover {
            color: var.$color-secondary;
        }
    }
}

.sub-menu {
    display: block;
    padding: 8px 32px 8px 56px;
    color: #aeaeae;
    font-weight: var.$font-bold;
    font-size: 20px;
    list-style: none;
    @media screen and (min-width: 992px) {
        font-size: 25px;
    }

    ul {
        padding: 0;
    }

    &__item {
        list-style: none;
        margin: 0;
    }
    &__link {
        display: block;
        padding: 8px 0 8px 16px;
        color: var.$color-primary;
        transition: all .3s ease-in-out;

        &:hover {
            color: var.$color-secondary;
        }
    }
}

.list-bottom {
    margin: 0;
    padding: 0 24px 14px 46px;
    list-style: none;

    &__item {
        font-size: 14px;
        font-weight: var.$font-bold;
    }

    &__link {
        padding: 10px;
        color: var.$color-primary;
        transition: all .3s ease-in-out;

        &:hover {
            color: var.$color-secondary;
        }
    }
}

