//   ------------------------------------
//   VARIABLES
//   ------------------------------------
//

$color-primary: #333333;
$color-secondary: #e32625;

$color-light: #dadada;
$color-white: #fff;

$font-family: 'Kumbh Sans', sans-serif;
$font-regular: 400;
$font-bold: 700;

$font-size-p: 16px;